@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins";
  src: url("/public/fonts/Poppins-Thin.otf");
}

.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

#__next {
  height: 100vh;
}

.bg-test {
  padding: 0 !important;
}

.bg-color-index {
  margin: -30px !important;
  height: 1100px;
}
